:root{
  --beat: 1s;
}
#outer{
  position: absolute;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  top: 20%;
  height: 60%;
  left: 40%;
  width: 20%;
}
#inner{
  position: absolute;
  top: 0%;
  left: 0%;
  width: calc(100% - 2rem - 2px);
  height: calc(100% - 2rem - 2px);
}
#midline{
  position: absolute;
  border: 1px solid black;
  top: 0%;
  left: calc(50% - 1rem);
  width: 2rem;
  height: 100%;

}
.ball{
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 50%;
}
.red{ background-color: red; }
.green{ background-color: green; }
.blue{ background-color: blue; }
.animated{
  animation-name: left2right3_6, right2left3_6, height3_3;
  animation-direction: normal;
  animation-duration: calc(6*var(--beat)), calc(6*var(--beat)), calc(3*var(--beat));
  animation-iteration-count: infinite;
}
.animated#one{
  animation-delay: 0s, calc(3*var(--beat)), 0s;
  animation-fill-mode: backwards, none, backwards;
}
.animated#two{
  animation-delay: calc(4*var(--beat)), calc(1*var(--beat)), calc(1*var(--beat));
  animation-fill-mode: none, backwards, backwards;
}
.animated#three{
  animation-delay: calc(2*var(--beat)), calc(5*var(--beat)), calc(2*var(--beat));
  animation-fill-mode: backwards, none, backwards;
}
@keyframes left2right3_6 {
  0% {
    left: 0%;
    animation-timing-function: ease-out;
  }
  50% {
    left: 100%;
  }
}
@keyframes right2left3_6 {
  0% {
    left: 100%;
    animation-timing-function: ease-out;
  }
  50% {
    left: 0%;
  } 
}
@keyframes height3_3 {
  0% {
    top: 100%;
    animation-timing-function: ease-out;
  }
  50% {
    top: 0%;
    animation-timing-function: ease-in;
  }
  100% {
    top: 100%; 
    animation-timing-function: ease-out;
  }
}
